<style>
#header_id { display: none }
</style>

<h5 class = "alert alert_info">Hi welcome to RBF. you have successfully registered </h5>
<%= link_to "Sign In", new_user_session_path, :method => :get, class: "btn btn-success" %>